figure {
    display: float;
    background-color:rgba(238, 238, 238, 0.432);
    text-align: center;
    max-width: 300px;
    min-height: 200px;
    margin: 5px;
  }
  
  img {
    max-width: 300px;
    max-height: 125px;
  }
  section {
    /* float: left; */
    /* border-style: solid; */
    float: left;

  }
  
  footer {
    /* clear: left; */
    text-align: center;
  }
  main{
      margin-left: auto;
      border-style: solid;
      overflow: hidden;
  
      margin-right: auto;
  }
