div {
  width: 100%;
  width: 200px;
  height: 250px;
  float: left;
  padding: 10px;
  margin: auto;
}
h1 {
  font-size: 100px;
  margin-top: -100px;
}
img {
  margin: auto;
  width: 190px;
  height: 140px;
}