
  
  body{
    background-color: rgba(35, 170, 170, 0.603);
  }
  
  
  
  h1 {
    font-size: 80px;
    margin-top: -100px;
    font-family: 'Yeon Sung', cursive;


}
  
  h2{
    font-size: 1.2em;
    
  }
  
  p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  #me{
      color: rgb(14, 101, 128);
      font-family: cursive;
      font-size: 20px;
  }